
// // spacing

// --- پایه spacing‌ها ---
$space-0: 0;
$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-28: 28px;
$space-32: 32px;
$space-36: 36px;
$space-40: 40px;
$space-44: 44px;
$space-48: 48px;
$space-52: 52px;
$space-56: 56px;
$space-60: 60px;
$space-64: 64px;
$space-68: 68px;
$space-72: 72px;
$space-76: 76px;
$space-80: 80px;

// --- Padding محور Y ---
$py-4:  $space-4;
$py-8:  $space-8;
$py-12: $space-12;
$py-16: $space-16;
$py-20: $space-20;
$py-24: $space-24;
$py-28: $space-28;
$py-32: $space-32;
$py-36: $space-36;
$py-40: $space-40;
$py-44: $space-44;
$py-48: $space-48;
$py-52: $space-52;
$py-56: $space-56;
$py-60: $space-60;
$py-64: $space-64;
$py-68: $space-68;
$py-72: $space-72;
$py-76: $space-76;
$py-80: $space-80;

// --- Padding محور X ---
$px-4:  $space-4;
$px-8:  $space-8;
$px-12: $space-12;
$px-16: $space-16;
$px-20: $space-20;
$px-24: $space-24;
$px-28: $space-28;
$px-32: $space-32;
$px-36: $space-36;
$px-40: $space-40;
$px-44: $space-44;
$px-48: $space-48;
$px-52: $space-52;
$px-56: $space-56;
$px-60: $space-60;
$px-64: $space-64;
$px-68: $space-68;
$px-72: $space-72;
$px-76: $space-76;
$px-80: $space-80;

// --- Margin محور Y ---
$my-4:  $space-4;
$my-8:  $space-8;
$my-12: $space-12;
$my-16: $space-16;
$my-20: $space-20;
$my-24: $space-24;
$my-28: $space-28;
$my-32: $space-32;
$my-36: $space-36;
$my-40: $space-40;
$my-44: $space-44;
$my-48: $space-48;
$my-52: $space-52;
$my-56: $space-56;
$my-60: $space-60;
$my-64: $space-64;
$my-68: $space-68;
$my-72: $space-72;
$my-76: $space-76;
$my-80: $space-80;

// --- Margin محور X ---
$mx-4:  $space-4;
$mx-8:  $space-8;
$mx-12: $space-12;
$mx-16: $space-16;
$mx-20: $space-20;
$mx-24: $space-24;
$mx-28: $space-28;
$mx-32: $space-32;
$mx-36: $space-36;
$mx-40: $space-40;
$mx-44: $space-44;
$mx-48: $space-48;
$mx-52: $space-52;
$mx-56: $space-56;
$mx-60: $space-60;
$mx-64: $space-64;
$mx-68: $space-68;
$mx-72: $space-72;
$mx-76: $space-76;
$mx-80: $space-80;
