// atoms
@use '../../atoms/fonts' as *;
@use '../../atoms/colores' as *;
@use '../../atoms/radius' as *;
@use '../../atoms/spacing' as *;
@use '../../atoms/general' as *;

.footer{
    &__up-mobile{
        display: none;
    }
    &__bottom-mobile{
        display: none;
    }
    &__main{
        @include flex(space-between,center,row);
        padding: $space-56 0;
    }
    &__up{
        background-color: $shade6;
        color: $tint1;
    }
    &__right{
        @include flex(center,flex-end,row);


    }
    &__form-side{
        
    }
    &__description{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    &__input{
        border-radius: 8px;
        padding: $space-8;
        background-color: $shade6;
        color: $gray6;
        border: 1px $tint1 solid;
        margin-top: $space-8;
        min-width: 405px;

    }
    &__btn{
        padding: $space-12 $space-24;
        border-radius: $radius-8;
        background-color: $tint-primary;
        color: $tint1;
        margin-right: $space-12;
        border: 1px $shade6 solid;

    }
    &__left{
        margin-left: $space-80
    }
    &__social-side{
        @include flex(center,center,column);
        gap: $space-24;


    }
    &__icons{
        display: flex;
        gap: $space-24;
    }
    &__bottom{
        background-color: $tint-primary;
        color: $tint1;
    }
    &__menu{
        display: flex;
        flex-direction: row;
        gap: 160px;

    }
    &__companion{
        display: flex;
        flex-direction: column;
        gap: $space-8;

    }
    &__services{
        display: flex;
        flex-direction: column;
        gap: $space-8;
    }
    &__help{
        display: flex;
        flex-direction: column;
        gap: $space-8;
    }
    &__paragraph-title{
        display: flex;
        border-bottom: 1px #FFFFFF solid;
        padding-bottom: 10px;
        margin-bottom: $space-32;

    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 20px;
        li a{
            color: $tint1
        }

    }
    &__head{
        @include flex(center,center,column);
    }
    &__heading{
        @include heading-6;
        margin-bottom: $space-48;
    }
    &__contact{
        display: flex;
        gap: 8px;
        margin-bottom: $space-72;
    }
    &__license-item{
        display: flex;
        gap: $space-32;
    }
    &__copyright{
        @include caption-3;
        padding-bottom: $space-24;
    }

}

@media (width < 768px) {
    .footer{
        &__up{
            display: none;
        }
        &__bottom{
            display: none;
        }
        &__up-mobile{
            display: block;
            background-color: $shade6;
            color: $tint1;
            padding: $px-16 0;
            @include flex(center,center,column);
            gap: $space-16;

            .footer__contact{
                @include flex(center,center,column);
                gap: $space-16;
                margin-bottom: 0;
            }
            .footer__icons{
                img{
                    cursor: pointer;
                }
            }
            .footer__copyright{
                @include caption-4;
                padding-bottom: 0;
            }
        }
        &__bottom-mobile{
            display: block;
            background-color: $tint-primary;
            color: $tint1;
            @include flex(center,center);


            .footer__item{
                display: flex;
                gap: $space-48;
                padding: $px-32 0;

            }
            .footer__list{
                a{
                    color: $tint1;
                    @include flex(center,center,column-reverse);
                    max-width: 110px;
                    max-height: 32px;
                }
            }
        }
    }
}